//Build in Modules
@use "sprucecss/scss/spruce" as *;

.section-banner{
  $this: &;
  padding-block: spacer(xxl);

  @include set-css-variable((
    --bg-color: hsl(248, 28%, 17%),
    --highlight-color: hsl(68, 100%, 57%)
  ));

  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: spacer-clamp(l, xxl);
    padding-block: spacer-clamp(s, l);
    padding-inline: spacer-clamp(l, xxl);
    border-radius: spacer-clamp(s, l);
    background-color: get-css-variable(--bg-color);

    @include breakpoint(sm){
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-block: spacer(m);

    h2{
      color: color(default-white, custom);
      font-size: responsive-font-size(3rem, 30);
      font-weight: 500;
      margin: 0;
      margin-block-end: spacer(s);
    }

    .btn{
      padding-inline: 3rem;
    }
  }

  &__cirlce{
    flex: none;
    width: spacer-clamp(xxxl, 20rem);
    height: spacer-clamp(xxxl, 20rem);
    border-radius: 9999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: get-css-variable(--highlight-color);

    svg{
      color: color(primary);
      font-size: responsive-font-size(10rem, 50);
    }
  }
}