//Build in Modules
@use "sprucecss/scss/spruce" as *;

.banner{
  $this: &;

  &__inner{
    display: flex;
    flex-direction: column;
    gap: spacer-clamp(xxs, xl, '3vw');
    padding: spacer-clamp(m, l, '3vw');
    border-radius: spacer-clamp(s, l, '3vw');
    background-color: color(bg-banner, custom);

    @include breakpoint(sm){
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-inline: spacer-clamp(l, xxl);
    }
  }

  &__content{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: spacer-clamp(xs, m, '2vw');
    text-align: center;

    @include breakpoint(sm){
      align-items: flex-start;
      text-align: initial;
    }

    @at-root #{$this}__title{
      color: color(default-white, custom);
      font-size: responsive-font-size(3rem, 40);
      font-weight: 500;
      margin: 0;
      margin-block-end: spacer(s);
    }

    .btn{
      padding-inline: 3rem;
    }
  }

  &__circle{
    width: spacer-clamp(10rem, 20rem, '18vw');
    height: spacer-clamp(10rem, 20rem, '18vw');
    border-radius: 9999px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color(highlight-color, custom);

    svg{
      color: color(primary);
      font-size: responsive-font-size(10rem, 36);
      width: spacer-clamp(6rem, 8rem, '12vw');
      height: spacer-clamp(6rem, 8rem, '12vw');
    }
  }
}