//Build in Modules
@use "sprucecss/scss/spruce" as *;

.section-banner{
  padding-block: spacer-clamp(l ,xxl);

  &__wrapper{
    display: flex;
    flex-direction: column;
    gap: spacer-clamp(xs, xl, '4vw');
    padding: spacer-clamp(m, l, '3vw');
    border-radius: spacer-clamp(s, l, '3vw');
    background-color: color(bg-banner, custom);

    @include breakpoint(sm){
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-inline: spacer-clamp(l, xxl);
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: spacer-clamp(xs, m, '2vw');
    text-align: center;

    @include breakpoint(sm){
      align-items: flex-start;
      text-align: initial;
    }

    h2{
      color: color(default-white, custom);
      font-size: responsive-font-size(3rem, 32);
      font-weight: 500;
      margin: 0;
      margin-block-end: spacer(s);
    }

    .btn{
      padding-inline: 3rem;
    }
  }

  &__cirlce{
    flex: none;
    width: spacer-clamp(10rem, 22rem, '16vw');
    height: spacer-clamp(10rem, 22rem, '16vw');
    border-radius: 9999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: color(highlight-color, custom);
    margin-inline: auto;

    svg{
      color: color(primary);
      font-size: responsive-font-size(10rem, 36);
    }
  }
}