//Build in Modules
@use "sprucecss/scss/spruce" as *;

.section-commitments{
  padding-block: spacer-clamp(l, xxl);

  .container{
    display: flex;
    flex-direction: column;
    gap: spacer-clamp(l, xxl, '3vw');

    @include breakpoint(md){
      flex-direction: row;

      > *{
        flex: 1 1 50%;
      }
    }
  }

  .commitments-statics{
    ul{
      @include clear-list;
      @include layout-grid(l, 10rem);
      text-align: center;

      @include breakpoint(md){
        text-align: initial;
        @include layout-grid(l);
      }
    }

    h6{
      font-size: responsive-font-size(4rem, 30);
      margin: 0;
    }

    span{
      display: inline-block;
      max-width: spacer(xxxl);
    }
  }

  .commitments-content{
    h2{
      font-size: responsive-font-size(2.5rem);
      margin: 0;
      margin-block-end: spacer(s);
    }

    p{
      font-size: responsive-font-size(1.125rem, 12, '1vw + 0.5rem');
      margin: 0;
      margin-block-end: spacer-clamp(s, l);
    }

    a{
      font-weight: 700;
      text-underline-offset: 4px;
    }
  }
}