//Build in Modules
@use "sprucecss/scss/spruce" as *;

.commitments{
  $this: &;
  padding-block: spacer(xxl);

  .container{
    display: flex;
    gap: spacer(xxl);

    > *{
      flex: 1 1 50%;
    }
  }

  &__statics{
    ul{
      @include clear-list;
      @include layout-grid(l);
    }

    h6{
      font-size: responsive-font-size(4rem);;
      margin: 0;
    }

    span{
      display: inline-block;
      max-width: spacer(xxxl);
    }
  }

  &__content{
    h2{
      font-size: font-size(h1);
      margin: 0;
      margin-block-end: spacer(s);
    }

    p{
      font-size: font-size(lead, false);
      margin: 0;
      margin-block-end: spacer(l);
    }

    a{
      font-weight: 700;
      text-underline-offset: 4px;
    }
  }
}