//Build in Modules
@use "sprucecss/scss/spruce" as *;

.section-commitments{
  $this: &;
  padding-block: spacer-clamp(l, xxl);

  .container{
    display: flex;
    flex-direction: column;
    gap: spacer-clamp(l, xxl);

    @include breakpoint(md){
      flex-direction: row;
      > *{
        flex: 1 1 50%;  
      }
    }
  }

  .commitments-statics{
    ul{
      @include clear-list;
      @include layout-grid(l);
      text-align: center;

      @include breakpoint(md){
        text-align: inherit;
      }
    }

    h6{
      font-size: responsive-font-size(4rem);;
      margin: 0;
    }

    span{
      display: inline-block;
      max-width: spacer(xxxl);
    }
  }

  .commitments-content{
    h2{
      font-size: font-size(h1);
      margin: 0;
      margin-block-end: spacer(s);
    }

    p{
      font-size: font-size(lead, false);
      margin: 0;
      margin-block-end: spacer(l);
    }

    a{
      font-weight: 700;
      text-underline-offset: 4px;
    }
  }
}