//Build in Modules
@use "sass:color";
@use "sprucecss/scss/spruce" as *;

.section-faq{
  $this: &;
  padding-block: spacer-clamp(l ,xxl);

  .container{
    display: flex;
    flex-direction: column;
    gap: spacer(l);

    @include breakpoint(md){
      flex-direction: row;
      justify-content: space-between;
      gap: spacer-clamp(m ,xxl);

      > *{
        flex: 1 1 60%;
      }

      > * + *{
        flex: 1 1 40%;
      }
    }
  }

  &__content{
    text-align: center;

    @include breakpoint(md){
      text-align: initial;
    }

    h2{
      font-size: responsive-font-size(2.5rem);
      margin: 0;
      margin-block-end: spacer(s);
    }

    p{
      font-size: font-size(lead);
      margin: 0;
      margin-block-end: spacer(s);
    }

    a{
      font-weight: $heading-font-weight;

      &:hover{
        color: color(secondary)
      }
    }
  }

  .faq__form{
    display: flex;
    flex-direction: column;
    gap: spacer(xs);
    margin-block: spacer(m) spacer(l);

    @include breakpoint(sm){
      flex-direction: row;
      gap: spacer(s)
    }
  }

  .form{
    &-group{
      flex: 1 0;
    }

    &-control{
      background-color: color.scale($color-gray-light, $lightness: 60%);
      border: none;
      border-radius: 9999px;
      padding: spacer(s) spacer(m);
    }
  }

  .accordion-list {
    &--boxed {
      @include layout-stack(s);
    }

    &--stacked {
      > * + * {
        border-block-start: 1px solid color.scale($color-gray-light, $lightness: 10%);
      }
    }
  }
}