@use "sprucecss/scss/spruce" as *;

// .site-footer{
//   $this: &;
// }


//Primary Footer
.footer-primary{
  background-color: color(bg-varient-1, custom);
  padding-block: spacer(m);

  @include breakpoint(md){
    padding-block: spacer(l);
  }

  .container{
    @include breakpoint(md){
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__col{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: spacer(m);

    @include breakpoint(md){
      align-items: flex-start;
      margin-block-end: 0;
    }
  }

  &__logo{
    margin-block-end: spacer(s);
  }

  &__social{
    ul{
      @include clear-list;
      display: flex;
      gap: spacer(m);
      margin-block: spacer(m);

      > li + li{
        margin-block-start: 0;
      }
    }

    svg{
      font-size: font-size(h2)
    }
  }

  address{
    color: color(default-black, custom);
    font-style: normal;
  }

  &__row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: spacer(xs);

    @include breakpoint(sm){
      flex-direction: row;
      gap: spacer-clamp(spacer(xxs), spacer(xxl));
    }
  }

  &__links{
    @include set-css-variable((
      --gap: spacer(xs)
    ));

    @include clear-list;
    @include layout-stack(get-css-variable(--gap));

    @include breakpoint(sm){
      @include set-css-variable((
        --gap: spacer(m)
      ));
    }

    li{
      text-align: center;

      @include breakpoint(sm){
        text-align: initial;
      }
    }

    a{
      @include set-css-variable((
        --text-color: color(default-black, custom),
        --text-decoration: none
      ));

      font-weight: 500;
      color: get-css-variable(--text-color);
      text-decoration: get-css-variable(--text-decoration);

      &:hover{
        @include set-css-variable((
          --text-color: color(primary),
          --text-decoration: underline
        ))
      }
    }
  }
}

// Secondary Footer
.footer-secondary{
  font-size: $font-size-sm;
  color: color(default-white, custom);
  background-color: color(secondary);
  padding-block: spacer(m);

  .container{
    text-align: center;

    @include breakpoint(sm){
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  p{
    margin-block: spacer(s);
  }

  ul{
    @include set-css-variable((
      --flex-direction: column,
      --gap: spacer(s)
    ));

    @include clear-list;
    display: flex;
    flex-direction: get-css-variable(--flex-direction);
    align-items: center;
    justify-content: center;
    gap: get-css-variable(--gap);

    @include breakpoint(sm){
      @include set-css-variable((
        --flex-direction: row,
        --gap: spacer(xl)
      ))
    }

    > li + li{
      margin-block-start: 0;
    }

    a{
      color: color(default-white, custom);
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}