@use "sprucecss/scss/spruce" as *;

.site-footer{
  $this: &;

  &__row{
    @include set-css-variable((
      --flex-direction: column,
      --gap: spacer(xs)
    ));

    display: flex;
    flex-direction: get-css-variable(--flex-direction);
    gap: get-css-variable(--gap);

    @include breakpoint(sm){
      @include set-css-variable((
        --flex-direction: row,
        --gap: spacer(xxl)
      ))
    }
  }

  &__primary{
    background-color: color(bg-varient-1, custom);
    padding-block: spacer(l);

    .container{
      @include breakpoint(md){
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    @at-root #{$this}__logo{
      margin-block-end: spacer(s);
    }

    @at-root #{$this}__social{
      ul{
        @include clear-list;
        display: flex;
        gap: spacer(m);
        margin-block: spacer(m);

        > li + li{
          margin-block-start: 0;
        }
      }

      svg{
        font-size: font-size(h3)
      }
    }

    #{$this}__links{
      @include set-css-variable((
        --gap: spacer(xxs)
      ));

      @include clear-list;
      @include layout-stack(get-css-variable(--gap), $align: left);

      @include breakpoint(sm){
        @include set-css-variable((
          --gap: spacer(m)
        ));
      }

      a{
        @include set-css-variable((
          --text-color: color(default-black, custom),
          --text-decoration: none
        ));

        font-weight: 500;
        color: get-css-variable(--text-color);
        text-decoration: get-css-variable(--text-decoration);

        &:hover{
          @include set-css-variable((
            --text-color: color(primary),
            --text-decoration: underline
          ))
        }
      }
    }

    address{
      color: color(default-black, custom);
      font-style: normal;
    }
  }


  &__secondary{
    color: color(default-white, custom);
    padding-block: spacer(l);
    background-color: color(secondary);

    .container{
      text-align: center;

      @include breakpoint(sm){
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    p{
      margin-block-end: spacer(m);

      @include breakpoint(sm){
        margin-block-end: 0;
      }
    }

    ul{
      @include set-css-variable((
        --flex-direction: column,
        --gap: spacer(s)
      ));

      @include clear-list;
      display: flex;
      flex-direction: get-css-variable(--flex-direction);
      align-items: center;
      justify-content: center;
      gap: get-css-variable(--gap);

      @include breakpoint(sm){
        @include set-css-variable((
          --flex-direction: row,
          --gap: spacer(xxl)
        ))
      }

      > li + li{
        margin-block-start: 0;
      }

      a{
        @include set-css-variable((
          --text-decoration: none
        ));

        color: color(default-white, custom);
        text-decoration: get-css-variable(--text-decoration);

        &:hover{
          @include set-css-variable((
            --text-decoration: underline
          ));
        }
      }
    }
  }
}