@use "sprucecss/scss/spruce" as *;

.site{

  &-header{
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: spacer-clamp(s, m);
    }
  }

  &-logo{
    display: inline-flex;
    align-items: center;
  }

  &-navigation{
    $this: &;

    inset: 0;
    position: fixed;
    padding: spacer(m);
    background-color: color(background);
    max-width: 20rem;
    transform: translateX(-100%);
    border-bottom-right-radius: spacer-clamp(m, xl);
    box-shadow: 0 spacer(xxs) spacer(m) hsla(0 0% 0% / 10%);
    @include transition;

    @include breakpoint(md){
      position: initial;
      padding: initial;
      max-width: none;
      box-shadow: none;
      transform: none;
      background-color: transparent;
    }

    &.opened{
      z-index: 1;
      transform: translateX(0);
    }

    &__backdrop{
      inset: 0;
      z-index: 0;
      position: fixed;
      background-color: hsla(0 0% 0% / 60%);
    }

    ul{
      @include clear-list;
      display: flex;
      flex-direction: column;
      gap: spacer-clamp(xxs, l, '1vw');

      > * + *{
        margin-block: 0;
      }

      @include breakpoint(md){
        flex-direction: row;
      }

      @at-root #{$this}__item{
        $this: &;

        a{
          color: color(heading);
          font-weight: $btn-font-weight;
          display: flex;
          text-decoration: none;
          padding: spacer(xxs) spacer(s);

          &:hover{
            color: color(primary);
            background-color: color(code-background);
          }

          @at-root #{$this}.active a{
            color: color(primary);
            background-color: color(code-background);
          }
        }
      }
    }

    &__close{
      @include breakpoint(md){
        display: none;
      }
    }
  }

  &-actions{
    display: flex;
    align-items: center;
    gap: spacer-clamp(xxs, xs, '1vw');

    &__cta{
      display: none;

      @include breakpoint(md){
        display: initial;
      }
    }

    &__theme-toggle{
      font-size: font-size(h3);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2.25rem;
      height: 2.25rem;

      @at-root [data-theme-mode="light"] .theme-dark{
        display: none;
      }

      @at-root [data-theme-mode="dark"] .theme-light{
        display: none;
      }
    }

    &__mobile-menu{
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: spacer(xs);
      width: spacer(l);
      height: spacer(l);

      > *:not(.sr-only){
        width: 2rem;
        height: 0.125rem;
        display: block;
        background-color: color(primary);
      }

      @include breakpoint(md){
        display: none;
      }
    }
  }
}