//Build in Modules
@use "sass:color";
@use "sprucecss/scss/spruce" as *;


.hero{
  &__inner{
    display: flex;
    flex-direction: column-reverse;
    gap: spacer-clamp(l, xl);

    @include breakpoint(md){
      flex-direction: row;
      gap: 0;

      > *{
        flex: 0 0 50%;
      }
    }
  }

  &__content{
    text-align: center;

    @include breakpoint(md){
      display: flex;
      text-align: initial;
      flex-direction: column;
      justify-content: center;
      padding-inline-end: spacer-clamp(xl, xxxl);
    }
  }

  &__title{
    font-size: responsive-font-size(5.75rem, 48, '5vw + 1rem');
    line-height: $line-height-sm;
    margin-block-start: 0;
    margin-block-end: spacer-clamp(s, l);
  }

  &__description{
    margin: 0;
    line-height: $line-height-lg;
  }

  &__image{
    align-self: center;
    margin: 0;
  }

  &__form{
    display: flex;
    flex-direction: column;
    gap: spacer(xs);
    margin-block-start: spacer-clamp(s, l);

    @include breakpoint(sm){
      flex-direction: row;
      gap: spacer(s)
    }
  }

  .form{
    &-group{
      flex: 1 0;
    }

    &-control{
      background-color: color.scale($color-gray-light, $lightness: 60%);
      border: none;
      border-radius: 9999px;
      padding: spacer(s) spacer(m);
    }
  }
}