//Build in Modules
@use "sass:color";

@use "sprucecss/scss/spruce" as *;

.hero{
  .container{
    display: flex;
    flex-direction: column-reverse;
    padding-block: spacer-clamp(m, xl);;
    gap: spacer-clamp(l, xl);

    @include breakpoint(md){
      flex-direction: row;
      gap: calc(spacer(xxl) + spacer(xl));
    }
  }

  &__description{
    flex: 1 0;

    @include breakpoint(md){
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h1{
      font-size: responsive-font-size(5.375rem, 30);
    }

    p{
      line-height: 2;
    }
  }

  &__image{
    flex: 1 0;
  }

  &__form{
    display: flex;
    flex-direction: column;
    gap: spacer(xs);
    margin-top: spacer(l);

    @include breakpoint(sm){
      flex-direction: row;
      gap: spacer(s)
    }
  }

  .form{

    &-group{
      flex: 1 0;
    }

    &-control{
      background-color: color.scale($color-gray-light, $lightness: 60%);
      border: none;
      border-radius: 9999px;
      padding: spacer(s) spacer(m);
    }
  }
}