//Build in Modules
@use "sass:color";
@use "sprucecss/scss/spruce" as *;

.section-partners{
  padding-block: spacer-clamp(l, xl);
  background-color: color('bg-varient-1', 'custom');
}

.partners{
  $this: &;

  &__header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: spacer-clamp(xs, 2rem);
    margin-bottom: spacer-clamp(l, xxl);

    @include breakpoint(md){
      max-width: 80%;
      flex-direction: row;
    }

    @include breakpoint(lg){
      max-width: 60%;
    }

    h2{
      flex: none;
      font-size: responsive-font-size(2.5rem);
      margin-block: 0;

      @include breakpoint(md){
        width: 40%;
      }
    }

    p{
      flex: none;
      margin: 0;

      @include breakpoint(md){
        width: 80%;
      }

      @include breakpoint(lg){
        width: 60%;
      }
    }
  }

  &__grid{
    ul{
      @include clear-list;
      @include layout-grid(s);
      row-gap: spacer(xl);

      > * + *{
        margin-block-start: 0;
      }
    }

    li{
      text-align: center;

      a{
        display: inline-block;
      }
    }
  }
}