//Build in Modules
@use "sass:color";
@use "sprucecss/scss/spruce" as *;
@use "../base";

.partners{
  $this: &;
  background-color: color('bg-varient-1', 'custom');

  &__content{
    display: flex;
    flex-direction: column;
    gap: spacer-clamp(xs, 2rem);
    margin-bottom: spacer-clamp(l, xxl);

    @include breakpoint(md){
      max-width: 72%;
      align-items: center;
      flex-direction: row;
    }

    @include breakpoint(lg){
      max-width: 60%;
    }
  }

  &__title{
    @extend %section-heading-2;
    flex: none;
    margin-block: 0;

    @include breakpoint(md){
      max-width: 40%;
    }
  }

  &__desc{
    flex: none;
    margin: 0;
    margin-inline: auto;

    @include breakpoint(md){
      max-width: 60%;
    }
  }

  &__grid{
    ul{
      @include clear-list;
      //@include layout-grid(s);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: spacer-clamp(l, xxxl);
      row-gap: spacer-clamp(m, xl);

      > * + *{
        margin-block-start: 0;
      }
    }

    li{
      text-align: center;
    }

    a{
      display: inline-block;
    }
  }
}