//Build in Modules
@use "sprucecss/scss/spruce" as *;

.section-teams{
  $this: &;
  padding-block: spacer-clamp(l, xxl);

  .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: spacer-clamp(l, xxl);

    @include breakpoint(md){
      flex-direction: row;

      > *{
        flex: 1 1 50%;
      }
    }

  }

  h2{
    font-size: responsive-font-size(2.5rem);
    margin: 0;
    margin-block-end: spacer(s);
  }

  p{
    $this: &;
    font-size: font-size(lead, false);
    margin: 0;
    margin-block-end: spacer-clamp(m, l);

    @at-root #{$this}.lead{
      line-height: $line-height-sm;
      font-size: responsive-font-size(1.5rem, 50);
      margin-block-end: spacer(s);
    }
  }

  &__gallery{
    margin-inline: auto;

    ul{
      @include clear-list;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: spacer(s);
    }
  }
}