//Build in Modules
@use "sprucecss/scss/spruce" as *;

.section-works {
  text-align: center;
  padding-block: spacer-clamp(l, xxl);

  &__content {
    margin-inline: auto;

    @include breakpoint(md){
      max-width: 70%;
    }

    h2 {
      font-size: responsive-font-size(4rem, 30);
      margin: 0;
      margin-block-end: spacer(s);
    }

    p {
      font-size: font-size(lead, false);
      margin: 0;
      margin-block-end: spacer(l);
      line-height: $line-height-md;
    }
  }

  &__grid {
    @include layout-grid(m);
    margin-block-end: spacer(l);

    figure{
      margin: 0;
    }

    img {
      display: inline-block;
      border-radius: spacer-clamp(s, l, '2vw + 1rem');
    }

    h6 {
      font-size: responsive-font-size(1.75rem);
      margin: 0;
      margin-block-end: spacer(xs);
    }

    p {
      margin-block: 0;
      line-height: $line-height-md;
    }
  }
}
