//Build in Modules
@use "sprucecss/scss/spruce" as *;
@use "../base";

.section-works {
  text-align: center;
  padding-block: spacer-clamp(l, xxl);
}

.work{
  &-header {
    margin-inline: auto;

    @include breakpoint(md){
      max-width: 70%;
    }

    &__title{
      @extend %section-heading-2;
      //font-size: responsive-font-size(4rem, 30);
      margin: 0;
      margin-block-end: spacer(s);
    }

    &__desc{
      font-size: font-size(lead, false);
      margin: 0;
      margin-block-end: spacer(l);
    }
  }

  &-grid {
    @include layout-grid(m);
    margin-block-end: spacer(l);
  }

  &-item{
    &__wrapper{
      margin: 0;
    }

    &__media{
      display: inline-block;
      border-radius: spacer-clamp(s, l, '2vw + 1rem');
    }

    &__title{
      font-size: responsive-font-size(1.75rem);
      margin: 0;
      margin-block-end: spacer(xs);
    }

    &__desc{
      margin-block: 0;
      line-height: $line-height-md;
    }
  }
}
